* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f1e7;
    color: #3e2723;
}

header {
    background-color: #4e342e;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #d7ccc8;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

button {
    background-color: #6d4c41;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}

.produtos {
    padding: 50px 20px;
    text-align: center;
}

.produtos h2,
.sobre h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 15px;
}

.sobre {
    padding: 50px 20px;
    text-align: center;
    background-color: #efebe9;
}

.sobre p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 25px;
}
.promocoes {
    padding: 50px 20px;
    text-align: center;
}

.promocao {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.promocao h3 {
    margin-bottom: 15px;
}

.promocao p {
    margin-bottom: 15px;
}
